body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
    color: blue;
}
/* //for buttons styling */
button {
    border-color: yellow;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: blue;
    /* Set a fixed width and height for uniform size */
    width: 300px;
    height: 60px;
    margin: 10px;
}
/* styling on hover for buttons */
button:hover {
    box-shadow: 0 0 10px grey;
}
/* .start-button {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: blue;

} */
/* answers styling */
.answer-choice {
/* Set a fixed width and height for uniform size */
width: 300px;
height: 60px;
}
/* timer container styling */
.timer-container {
    font-size: 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quiz-container {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

